/* css/cards.css */

.card-info {
  background: white;
  width: 100%;
  border-radius: 30px;
  padding: 40px 20px 25px 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 1;
}

.form-card {
  padding: 40px 25px;
  min-height: 400px;
}

.privacy-card {
  padding: 40px 20px 20px 20px;
}

.step-card {
  padding: 30px 20px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-card h2 {
  font-size: 1.5rem;
}

.selection-card {
  padding: 50px 20px 30px 20px;
  min-height: 450px;
}

.question-card {
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-card {
  padding-top: 40px;
  text-align: center;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nurse-overlap {
  width: 550px;
  height: auto;
  z-index: 2;
  margin-bottom: -50px;
  position: relative;
}

.nurse-overlap2 {
  width: 200px;
  height: auto;
  z-index: 2;
  margin-bottom: -30px;
  position: relative;
}

.avatar-circle {
  width: 280px;
  height: 280px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.avatar-circle img {
  width: 220%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.avatar-small {
  width: 100px;
  height: 100px;
  background-color: #f0f8ff;
  border-radius: 50%;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 3px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.avatar-small img {
  width: 80%;
  height: auto;
}

.name-pill {
  background: white;
  padding: 10px 40px;
  border-radius: 50px;
  font-size: 1.8rem;
  font-weight: 700;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
